* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.pinimg.com/736x/fe/c1/49/fec149faa3744e79645a6e2a0ebd6fc3.jpg");
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  padding-top: 10px;
}

.all_char {
  display: flex;
  flex-wrap: wrap;
}
.char_container {
  border: 1px solid red;
  margin: 10px;
}

.img-wrapper {
  width: 200px;
}

.img-wrapper img {
  width: 100%;
}
